<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @ca.country %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @ca.organization %>
</p>

<p>
  <strong>Organization unit:</strong>
  <%= @ca.organization_unit %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @ca.common_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @ca.state %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @ca.locality %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @ca.serial %>
</p>

<p>
  <strong>Not before:</strong>
  <%= @ca.not_before %>
</p>

<p>
  <strong>Not after:</strong>
  <%= @ca.not_after %>
</p>

<p>
  <strong>Certificate:</strong>
  <pre><%= @ca.certificate %></pre>
</p>

<p>
  <strong>Private Key:</strong>
  <pre><%= @ca.private_key %></pre>
</p>

<%= link_to 'Back', cas_path %>
