<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @ca.country %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @ca.organization %>
</p>

<p>
  <strong>Organization unit:</strong>
  <%= @ca.organization_unit %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @ca.common_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @ca.state %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @ca.locality %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @ca.serial %>
</p>

<p>
  <strong>Not before:</strong>
  <%= @ca.not_before %>
</p>

<p>
  <strong>Not after:</strong>
  <%= @ca.not_after %>
</p>

<p>
  <strong>Signature algorithm:</strong>
  <%= @ca.signature_algorithm %>
</p>

<p>
  <strong>Private key:</strong>
  <%= @ca.private_key %>
</p>

<p>
  <strong>Public key:</strong>
  <%= @ca.public_key %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @ca.certificate %>
</p>

<%= link_to 'Back', cas_path %>
