<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @certificate.country %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @certificate.organization %>
</p>

<p>
  <strong>Organization unit:</strong>
  <%= @certificate.organization_unit %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @certificate.common_name %>
</p>

<p>
  <strong>Sate:</strong>
  <%= @certificate.state %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @certificate.locality %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @certificate.serial %>
</p>

<p>
  <strong>Not before:</strong>
  <%= @certificate.not_before %>
</p>

<p>
  <strong>Not after:</strong>
  <%= @certificate.not_after %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= simple_format(@certificate.certificate) %>
</p>

<p>
  <strong>Certificate Authority:</strong>
  <%= @certificate.ca.common_name %>
</p>

<%= link_to 'Back', ca_certificates_path %>
