<h1>Upload CSR</h1>

<%= form_for @csr_upload, url: csr_ca_certificates_path(@ca)  do |f| %>

  <div class="field">
    <%= f.label :csr %>
    <%= f.text_area :csr %>
  </div>

  <div class="field">
    <%= f.label :not_before %>
    <%= f.datetime_select :not_before %>
  </div>

  <div class="field">
    <%= f.label :not_after %>
    <%= f.datetime_select :not_after %>
  </div>

  <div class="actions">
    <%= f.submit 'Upload' %>
  </div>
<% end %>

<%= link_to 'Back', ca_certificates_path %>
